@import url('assets/css/fonts.css');

:root{
    --main-font: 'Josefin Sans', Sans-serif;
    --sec-font: 'Rosehot', Sans-serif;
    --blue: #0066CC;
    --light-blue: #6495ED;
    --yellow: #F0E68C;
    --brown: #E8A87C;
    --seashell: #FFF5EE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-emphasis: none;
    list-style: none;
    text-decoration: none;
    font-family: var(--main-font);
}

body{
    background: #E8FAFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--sec-font);
    font-weight: 400;
}
/* span, p{
    text-align: justify;
} */